<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.0.0" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net452" requireReinstallation="true" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="ImageResizer" version="4.0.5" targetFramework="net452" />
  <package id="jQuery" version="1.10.2" targetFramework="net452" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net452" />
  <package id="LightInject" version="5.0.0" targetFramework="net452" requireReinstallation="true" />
  <package id="LightInject.Mvc.Source" version="2.0.0" targetFramework="net452" requireReinstallation="true" />
  <package id="LightInject.Source" version="5.0.0" targetFramework="net452" requireReinstallation="true" />
  <package id="LightInject.Web.Source" version="2.0.0" targetFramework="net452" requireReinstallation="true" />
  <package id="MariGold.HtmlParser" version="1.0.1" targetFramework="net452" />
  <package id="MariGold.OpenXHTML" version="2.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Modernizr" version="2.6.2" targetFramework="net452" />
  <package id="MvcPaging" version="2.1.12" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" requireReinstallation="true" />
</packages>